@import url('./__text/profile__text.css');
@import url('./__info/profile__info.css');
@import url('./__name/profile__name.css');
@import url('./__job/profile__job.css');
@import url('./__image/profile__image.css');

.profile {
  margin: 2.832vw 0 3.6914vw 0;
  display: flex;
}

@media screen and (max-width: 475px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 38px 0 36px 0;
  }
}