.button.button_action_like {
  margin: 0 1.406vw 0 auto;
  background: white;
  background-image: url('../../../images/heart.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 19px;
  width: 21px;
}

@media screen and (max-width: 375px) {
  .button_action_like {
    margin-right: 21px;
  }
}