.button.button_action_close {
  background-color: transparent;
  background-image: url('../../../images/icons/close-icon.svg');
  background-size: contain;
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 58px;
  height: 58px;
}

.button.button_action_close:hover {
  cursor: url('../../../images/icons/finger.svg'), auto;	
}

@media screen and (max-width: 768px) {
  .button.button_action_close {
    top: -23px;
    right: -23px;
    width: 30px;  
    height: 30px;   
  }
}

@media screen and (min-width: 1281px) {
  .button.button_action_close {
    top: -3.5vw;
    right: -3.5vw;
    width: 4.53vw;
    height: 4.53vw;  
  }
}