.button.button_action_close {
  background-color: transparent;
  background-image: url('../../../images/icons/close-icon.svg');
  background-size: contain;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: 204px;  
  margin-top: -207px;  
  width: 58px;
  height: 58px;
}

@media screen and (max-width: 768px) {
  .button.button_action_close {
    margin-left: 115px;
    margin-top: -115px;
    width: 30px;  
    height: 30px;   
  }
}

@media screen and (min-width: 1281px) {
  .button.button_action_close {
    margin-left: 15.94vw;  
    margin-top: -16.17vw;  
    width: 4.53vw;
    height: 4.53vw;  
  }
}