@import url('./__logo/header__logo.css');

.header {
  border-bottom: 1px solid hsla(0, 0%, 33%, .7);
  box-sizing: border-box;
  width: 882px;
}

@media screen and (max-width: 1279px) {
  .header {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media screen and (max-width: 930px) {
  .header {
    width: calc(100vw + 19px);
    margin-left: -19px;
  }
}





 