.popup__image-container {
  max-width: 75vw;
  max-height: 75vh;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  opacity: 0;
  transition: opacity .3s ease-in;
}

/* .popup__image-container.popup__image-container_open {
  opacity: 1;
} */

.popup__image-container.transition_type_container {
  opacity: 1;
}


