.place__delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../images/icons/trashcan.svg');
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  background-size: 100% 100%;
  border: none; 
  height: 18px;
  width: 19px;
  top: 25px;
  right: 16px;
}

.place__delete-btn:hover {
  opacity: .6;
  cursor: url('../../../images/icons/finger.svg'), auto;
}