.place {
  border-radius: 0.78125vw;  
  background-color: white;
  height: 28.2vw;  /* 361/1280 */
}

.place__image {
  width: 22.031vw;    /* 282/1280 */
  height: 22.031vw;   /* 282/1280 */
  border-top-left-radius: 0.78125vw;  
  border-top-right-radius: 0.78125vw;  
}

.place__footer {
  display: flex;
  align-items: center;
}

.place__name {
  font-weight: 900;
  font-size: 1.875vw;     /* 24/1280 */
  line-height: 1.208;
  margin-left: 1.6506vw;   /* 21/1280 */
}

@media screen and (max-width: 1279px) {
  .place__name {
    font-size: 1.6vw;
  }
}

