@import url('./__logo/header__logo.css');

.header {
  border-bottom: 1px solid hsla(0, 0%, 33%, .7);
  box-sizing: border-box;
  width: 882px;
}

@media screen and (max-width: 930px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .header {
    width: calc(100vw + 19px);
    margin-left: -19px;
  }
}

/* 
width: 882px;
}

@media screen and (max-width: 930px) {
  .footer {
    
  }
}

@media screen and (max-width: 620px) {
  .footer {
    width: 282px;
  }
} */


 