.popup.popup_visible {
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

.popup.transition_type_modal-overlay {
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

.popup.transition_type_image-overlay {
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}
