@import url('./_action/button_action_add.css');
@import url('./_action/button_action_edit.css');
@import url('./_action/button_action_like.css');
@import url('./_action/button_action_submit.css');
@import url('./_action/button_action_close.css');
@import url('./_action/button_action_delete.css');
@import url('./_like-btn-clicked/button_like-btn-clicked.css');

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.button:hover {
  opacity: .8;
}









